/* This file is for your main application css. */

@import "./phoenix.css";

body {
    font-family: "Georgia", "Times New Roman", serif;
}

figure {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

figure img {
    border: 1px solid #eee;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

figcaption {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    color: #666;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}